/* color-m3-based - Light */
$Palettes-Primary-100: #FFFFFFFF;
$Palettes-Primary-99: #F8FFE9FF;
$Palettes-Primary-98: #EFFFD9FF;
$Palettes-Primary-95: #D1FFA0FF;
$Palettes-Primary-90: #A1FA42FF;
$Palettes-Primary-80: #87DC22FF;
$Palettes-Primary-70: #70BF00FF;
$Palettes-Primary-60: #5EA200FF;
$Palettes-Primary-50: #4C8500FF;
$Palettes-Primary-40: #3C6A00FF;
$Palettes-Primary-35: #345D00FF;
$Palettes-Primary-30: #2C5000FF;
$Palettes-Primary-25: #244300FF;
$Palettes-Primary-20: #1C3700FF;
$Palettes-Primary-15: #152B00FF;
$Palettes-Primary-10: #0E2000FF;
$Palettes-Primary-5: #071400FF;
$Palettes-Primary-0: #000000FF;
$Palettes-Secondary-100: #FFFFFFFF;
$Palettes-Secondary-99: #FFFBFFFF;
$Palettes-Secondary-98: #FFF8F6FF;
$Palettes-Secondary-95: #FFEDE8FF;
$Palettes-Secondary-90: #FFDBD0FF;
$Palettes-Secondary-80: #FFB59DFF;
$Palettes-Secondary-70: #FF8B64FF;
$Palettes-Secondary-60: #FF5711FF;
$Palettes-Secondary-50: #D64400FF;
$Palettes-Secondary-40: #AC3500FF;
$Palettes-Secondary-35: #972D00FF;
$Palettes-Secondary-30: #832600FF;
$Palettes-Secondary-25: #701F00FF;
$Palettes-Secondary-20: #5D1800FF;
$Palettes-Secondary-15: #4B1200FF;
$Palettes-Secondary-10: #390C00FF;
$Palettes-Secondary-5: #270600FF;
$Palettes-Secondary-0: #000000FF;
$Palettes-Tertiary-100: #FFFFFFFF;
$Palettes-Tertiary-99: #FDFBFFFF;
$Palettes-Tertiary-98: #F9F9FFFF;
$Palettes-Tertiary-95: #ECF0FFFF;
$Palettes-Tertiary-90: #D6E3FFFF;
$Palettes-Tertiary-80: #AEC7F7FF;
$Palettes-Tertiary-70: #93ACDAFF;
$Palettes-Tertiary-60: #7891BEFF;
$Palettes-Tertiary-50: #5F78A3FF;
$Palettes-Tertiary-40: #465F89FF;
$Palettes-Tertiary-35: #39537CFF;
$Palettes-Tertiary-30: #2D476FFF;
$Palettes-Tertiary-25: #213C63FF;
$Palettes-Tertiary-20: #143058FF;
$Palettes-Tertiary-15: #05254CFF;
$Palettes-Tertiary-10: #001B3DFF;
$Palettes-Tertiary-5: #00112AFF;
$Palettes-Tertiary-0: #000000FF;
$Palettes-Error-100: #FFFFFFFF;
$Palettes-Error-99: #FFFBFFFF;
$Palettes-Error-98: #FFF8F7FF;
$Palettes-Error-95: #FFEDEAFF;
$Palettes-Error-90: #FFDAD6FF;
$Palettes-Error-80: #FFB4ABFF;
$Palettes-Error-70: #FF897DFF;
$Palettes-Error-60: #FF5449FF;
$Palettes-Error-50: #DE3730FF;
$Palettes-Error-40: #BA1A1AFF;
$Palettes-Error-35: #A80710FF;
$Palettes-Error-30: #93000AFF;
$Palettes-Error-25: #7E0007FF;
$Palettes-Error-20: #690005FF;
$Palettes-Error-15: #540003FF;
$Palettes-Error-10: #410002FF;
$Palettes-Error-5: #2D0001FF;
$Palettes-Error-0: #000000FF;
$Palettes-Neutral-100: #FFFFFFFF;
$Palettes-Neutral-99: #FEFCFBFF;
$Palettes-Neutral-98: #FBF9F8FF;
$Palettes-Neutral-95: #F2F0EFFF;
$Palettes-Neutral-90: #E4E2E1FF;
$Palettes-Neutral-80: #C8C6C5FF;
$Palettes-Neutral-70: #ACABAAFF;
$Palettes-Neutral-60: #919090FF;
$Palettes-Neutral-50: #777776FF;
$Palettes-Neutral-40: #5E5E5EFF;
$Palettes-Neutral-35: #525252FF;
$Palettes-Neutral-30: #474746FF;
$Palettes-Neutral-25: #3B3B3BFF;
$Palettes-Neutral-20: #303030FF;
$Palettes-Neutral-15: #252625FF;
$Palettes-Neutral-10: #1B1C1BFF;
$Palettes-Neutral-5: #101111FF;
$Palettes-Neutral-0: #000000FF;
$Palettes-Neutral-Variant-100: #FFFFFFFF;
$Palettes-Neutral-Variant-99: #FDFCF8FF;
$Palettes-Neutral-Variant-98: #FAF9F6FF;
$Palettes-Neutral-Variant-95: #F1F1EDFF;
$Palettes-Neutral-Variant-90: #E3E3DFFF;
$Palettes-Neutral-Variant-80: #C7C7C3FF;
$Palettes-Neutral-Variant-70: #ABABA8FF;
$Palettes-Neutral-Variant-60: #90918EFF;
$Palettes-Neutral-Variant-50: #767774FF;
$Palettes-Neutral-Variant-40: #5E5F5CFF;
$Palettes-Neutral-Variant-35: #515350FF;
$Palettes-Neutral-Variant-30: #464745FF;
$Palettes-Neutral-Variant-25: #3A3C39FF;
$Palettes-Neutral-Variant-20: #2F312FFF;
$Palettes-Neutral-Variant-15: #252624FF;
$Palettes-Neutral-Variant-10: #1A1C1AFF;
$Palettes-Neutral-Variant-5: #10110FFF;
$Palettes-Neutral-Variant-0: #000000FF;
$State-Layers-Primary-Opacity-08: #3C6A0014;
$State-Layers-Surface-Tint-Opacity-08: #3C6A0014;
$State-Layers-On-Primary-Opacity-08: #FFFFFF14;
$State-Layers-Primary-Container-Opacity-08: #A6FF4714;
$State-Layers-On-Primary-Container-Opacity-08: #42740014;
$State-Layers-Secondary-Opacity-08: #A8330014;
$State-Layers-On-Secondary-Opacity-08: #FFFFFF14;
$State-Layers-Secondary-Container-Opacity-08: #D2420014;
$State-Layers-On-Secondary-Container-Opacity-08: #FFFBFF14;
$State-Layers-Tertiary-Opacity-08: #00163414;
$State-Layers-On-Tertiary-Opacity-08: #FFFFFF14;
$State-Layers-Tertiary-Container-Opacity-08: #0D2B5214;
$State-Layers-On-Tertiary-Container-Opacity-08: #7A93C014;
$State-Layers-Error-Opacity-08: #BA1A1A14;
$State-Layers-On-Error-Opacity-08: #FFFFFF14;
$State-Layers-Error-Container-Opacity-08: #FFDAD614;
$State-Layers-On-Error-Container-Opacity-08: #93000A14;
$State-Layers-Background-Opacity-08: #F6FCE814;
$State-Layers-On-Background-Opacity-08: #181D1214;
$State-Layers-Surface-Opacity-08: #FAF9F814;
$State-Layers-On-Surface-Opacity-08: #1A1C1B14;
$State-Layers-Surface-Variant-Opacity-08: #DFE4DC14;
$State-Layers-On-Surface-Variant-Opacity-08: #43484314;
$State-Layers-Outline-Opacity-08: #73787214;
$State-Layers-Outline-Variant-Opacity-08: #C3C8C114;
$State-Layers-Shadow-Opacity-08: #00000014;
$State-Layers-Scrim-Opacity-08: #00000014;
$State-Layers-Inverse-Surface-Opacity-08: #2F313014;
$State-Layers-Inverse-On-Surface-Opacity-08: #F2F0EF14;
$State-Layers-Inverse-Primary-Opacity-08: #87DC2214;
$State-Layers-Primary-Fixed-Opacity-08: #A1FA4214;
$State-Layers-On-Primary-Fixed-Opacity-08: #0E200014;
$State-Layers-Primary-Fixed-Dim-Opacity-08: #87DC2214;
$State-Layers-On-Primary-Fixed-Variant-Opacity-08: #2C500014;
$State-Layers-Secondary-Fixed-Opacity-08: #FFDBD014;
$State-Layers-On-Secondary-Fixed-Opacity-08: #390C0014;
$State-Layers-Secondary-Fixed-Dim-Opacity-08: #FFB59D14;
$State-Layers-On-Secondary-Fixed-Variant-Opacity-08: #83260014;
$State-Layers-Tertiary-Fixed-Opacity-08: #D6E3FF14;
$State-Layers-On-Tertiary-Fixed-Opacity-08: #001B3D14;
$State-Layers-Tertiary-Fixed-Dim-Opacity-08: #AEC7F714;
$State-Layers-On-Tertiary-Fixed-Variant-Opacity-08: #2D476F14;
$State-Layers-Surface-Dim-Opacity-08: #DBDAD914;
$State-Layers-Surface-Bright-Opacity-08: #FAF9F814;
$State-Layers-Surface-Container-Lowest-Opacity-08: #FFFFFF14;
$State-Layers-Surface-Container-Low-Opacity-08: #F4F3F214;
$State-Layers-Surface-Container-Opacity-08: #EFEEEC14;
$State-Layers-Surface-Container-High-Opacity-08: #E9E8E714;
$State-Layers-Surface-Container-Highest-Opacity-08: #E3E2E114;
$State-Layers-Primary-Opacity-10: #3C6A001A;
$State-Layers-Surface-Tint-Opacity-10: #3C6A001A;
$State-Layers-On-Primary-Opacity-10: #FFFFFF1A;
$State-Layers-Primary-Container-Opacity-10: #A6FF471A;
$State-Layers-On-Primary-Container-Opacity-10: #4274001A;
$State-Layers-Secondary-Opacity-10: #A833001A;
$State-Layers-On-Secondary-Opacity-10: #FFFFFF1A;
$State-Layers-Secondary-Container-Opacity-10: #D242001A;
$State-Layers-On-Secondary-Container-Opacity-10: #FFFBFF1A;
$State-Layers-Tertiary-Opacity-10: #0016341A;
$State-Layers-On-Tertiary-Opacity-10: #FFFFFF1A;
$State-Layers-Tertiary-Container-Opacity-10: #0D2B521A;
$State-Layers-On-Tertiary-Container-Opacity-10: #7A93C01A;
$State-Layers-Error-Opacity-10: #BA1A1A1A;
$State-Layers-On-Error-Opacity-10: #FFFFFF1A;
$State-Layers-Error-Container-Opacity-10: #FFDAD61A;
$State-Layers-On-Error-Container-Opacity-10: #93000A1A;
$State-Layers-Background-Opacity-10: #F6FCE81A;
$State-Layers-On-Background-Opacity-10: #181D121A;
$State-Layers-Surface-Opacity-10: #FAF9F81A;
$State-Layers-On-Surface-Opacity-10: #1A1C1B1A;
$State-Layers-Surface-Variant-Opacity-10: #DFE4DC1A;
$State-Layers-On-Surface-Variant-Opacity-10: #4348431A;
$State-Layers-Outline-Opacity-10: #7378721A;
$State-Layers-Outline-Variant-Opacity-10: #C3C8C11A;
$State-Layers-Shadow-Opacity-10: #0000001A;
$State-Layers-Scrim-Opacity-10: #0000001A;
$State-Layers-Inverse-Surface-Opacity-10: #2F31301A;
$State-Layers-Inverse-On-Surface-Opacity-10: #F2F0EF1A;
$State-Layers-Inverse-Primary-Opacity-10: #87DC221A;
$State-Layers-Primary-Fixed-Opacity-10: #A1FA421A;
$State-Layers-On-Primary-Fixed-Opacity-10: #0E20001A;
$State-Layers-Primary-Fixed-Dim-Opacity-10: #87DC221A;
$State-Layers-On-Primary-Fixed-Variant-Opacity-10: #2C50001A;
$State-Layers-Secondary-Fixed-Opacity-10: #FFDBD01A;
$State-Layers-On-Secondary-Fixed-Opacity-10: #390C001A;
$State-Layers-Secondary-Fixed-Dim-Opacity-10: #FFB59D1A;
$State-Layers-On-Secondary-Fixed-Variant-Opacity-10: #8326001A;
$State-Layers-Tertiary-Fixed-Opacity-10: #D6E3FF1A;
$State-Layers-On-Tertiary-Fixed-Opacity-10: #001B3D1A;
$State-Layers-Tertiary-Fixed-Dim-Opacity-10: #AEC7F71A;
$State-Layers-On-Tertiary-Fixed-Variant-Opacity-10: #2D476F1A;
$State-Layers-Surface-Dim-Opacity-10: #DBDAD91A;
$State-Layers-Surface-Bright-Opacity-10: #FAF9F81A;
$State-Layers-Surface-Container-Lowest-Opacity-10: #FFFFFF1A;
$State-Layers-Surface-Container-Low-Opacity-10: #F4F3F21A;
$State-Layers-Surface-Container-Opacity-10: #EFEEEC1A;
$State-Layers-Surface-Container-High-Opacity-10: #E9E8E71A;
$State-Layers-Surface-Container-Highest-Opacity-10: #E3E2E11A;
$State-Layers-Primary-Opacity-16: #3C6A0029;
$State-Layers-Surface-Tint-Opacity-16: #3C6A0029;
$State-Layers-On-Primary-Opacity-16: #FFFFFF29;
$State-Layers-Primary-Container-Opacity-16: #A6FF4729;
$State-Layers-On-Primary-Container-Opacity-16: #42740029;
$State-Layers-Secondary-Opacity-16: #A8330029;
$State-Layers-On-Secondary-Opacity-16: #FFFFFF29;
$State-Layers-Secondary-Container-Opacity-16: #D2420029;
$State-Layers-On-Secondary-Container-Opacity-16: #FFFBFF29;
$State-Layers-Tertiary-Opacity-16: #00163429;
$State-Layers-On-Tertiary-Opacity-16: #FFFFFF29;
$State-Layers-Tertiary-Container-Opacity-16: #0D2B5229;
$State-Layers-On-Tertiary-Container-Opacity-16: #7A93C029;
$State-Layers-Error-Opacity-16: #BA1A1A29;
$State-Layers-On-Error-Opacity-16: #FFFFFF29;
$State-Layers-Error-Container-Opacity-16: #FFDAD629;
$State-Layers-On-Error-Container-Opacity-16: #93000A29;
$State-Layers-Background-Opacity-16: #F6FCE829;
$State-Layers-On-Background-Opacity-16: #181D1229;
$State-Layers-Surface-Opacity-16: #FAF9F829;
$State-Layers-On-Surface-Opacity-16: #1A1C1B29;
$State-Layers-Surface-Variant-Opacity-16: #DFE4DC29;
$State-Layers-On-Surface-Variant-Opacity-16: #43484329;
$State-Layers-Outline-Opacity-16: #73787229;
$State-Layers-Outline-Variant-Opacity-16: #C3C8C129;
$State-Layers-Shadow-Opacity-16: #00000029;
$State-Layers-Scrim-Opacity-16: #00000029;
$State-Layers-Inverse-Surface-Opacity-16: #2F313029;
$State-Layers-Inverse-On-Surface-Opacity-16: #F2F0EF29;
$State-Layers-Inverse-Primary-Opacity-16: #87DC2229;
$State-Layers-Primary-Fixed-Opacity-16: #A1FA4229;
$State-Layers-On-Primary-Fixed-Opacity-16: #0E200029;
$State-Layers-Primary-Fixed-Dim-Opacity-16: #87DC2229;
$State-Layers-On-Primary-Fixed-Variant-Opacity-16: #2C500029;
$State-Layers-Secondary-Fixed-Opacity-16: #FFDBD029;
$State-Layers-On-Secondary-Fixed-Opacity-16: #390C0029;
$State-Layers-Secondary-Fixed-Dim-Opacity-16: #FFB59D29;
$State-Layers-On-Secondary-Fixed-Variant-Opacity-16: #83260029;
$State-Layers-Tertiary-Fixed-Opacity-16: #D6E3FF29;
$State-Layers-On-Tertiary-Fixed-Opacity-16: #001B3D29;
$State-Layers-Tertiary-Fixed-Dim-Opacity-16: #AEC7F729;
$State-Layers-On-Tertiary-Fixed-Variant-Opacity-16: #2D476F29;
$State-Layers-Surface-Dim-Opacity-16: #DBDAD929;
$State-Layers-Surface-Bright-Opacity-16: #FAF9F829;
$State-Layers-Surface-Container-Lowest-Opacity-16: #FFFFFF29;
$State-Layers-Surface-Container-Low-Opacity-16: #F4F3F229;
$State-Layers-Surface-Container-Opacity-16: #EFEEEC29;
$State-Layers-Surface-Container-High-Opacity-16: #E9E8E729;
$State-Layers-Surface-Container-Highest-Opacity-16: #E3E2E129;
$Extended-Colors-Custom-Color-1: #02212EFF;
$Extended-Colors-On-Custom-Color-1: #FFFFFFFF;
$Extended-Colors-Custom-Color-1-Container: #1B3644FF;
$Extended-Colors-On-Custom-Color-1-Container: #849FB0FF;
$SHADOW-15: #00000026;
$SHADOW-30: #0000004D;

$Schemes-Primary: #3C6A00FF;
$Schemes-Surface-Tint: #3C6A00FF;
$Schemes-On-Primary: #FFFFFFFF;
$Schemes-Primary-Container: #A6FF47FF;
$Schemes-On-Primary-Container: $Palettes-Primary-10;
$Schemes-Secondary: #A83300FF;
$Schemes-On-Secondary: #FFFFFFFF;
$Schemes-Secondary-Container: #D24200FF;
$Schemes-On-Secondary-Container: #FFFBFFFF;
$Schemes-Tertiary: #001634FF;
$Schemes-On-Tertiary: #FFFFFFFF;
$Schemes-Tertiary-Container: #0D2B52FF;
$Schemes-On-Tertiary-Container: #7A93C0FF;
$Schemes-Error: #BA1A1AFF;
$Schemes-On-Error: #FFFFFFFF;
$Schemes-Error-Container: #FFDAD6FF;
$Schemes-On-Error-Container: #93000AFF;
$Schemes-Background: #F6FCE8FF;
$Schemes-On-Background: #181D12FF;
$Schemes-Surface: #FAF9F8FF;
$Schemes-On-Surface: #1A1C1BFF;
$Schemes-Surface-Variant: #DFE4DCFF;
$Schemes-On-Surface-Variant: #434843FF;
$Schemes-Outline: #737872FF;
$Schemes-Outline-Variant: #C3C8C1FF;
$Schemes-Shadow: #000000FF;
$Schemes-Scrim: #000000FF;
$Schemes-Inverse-Surface: #2F3130FF;
$Schemes-Inverse-On-Surface: #F2F0EFFF;
$Schemes-Inverse-Primary: #87DC22FF;
$Schemes-Primary-Fixed: #A1FA42FF;
$Schemes-On-Primary-Fixed: #0E2000FF;
$Schemes-Primary-Fixed-Dim: #87DC22FF;
$Schemes-On-Primary-Fixed-Variant: #2C5000FF;
$Schemes-Secondary-Fixed: #FFDBD0FF;
$Schemes-On-Secondary-Fixed: #390C00FF;
$Schemes-Secondary-Fixed-Dim: #FFB59DFF;
$Schemes-On-Secondary-Fixed-Variant: #832600FF;
$Schemes-Tertiary-Fixed: #D6E3FFFF;
$Schemes-On-Tertiary-Fixed: #001B3DFF;
$Schemes-Tertiary-Fixed-Dim: #AEC7F7FF;
$Schemes-On-Tertiary-Fixed-Variant: #2D476FFF;
$Schemes-Surface-Dim: #DBDAD9FF;
$Schemes-Surface-Bright: #FAF9F8FF;
$Schemes-Surface-Container-Lowest: #FFFFFFFF;
$Schemes-Surface-Container-Low: #F4F3F2FF;
$Schemes-Surface-Container: #EFEEECFF;
$Schemes-Surface-Container-High: #E9E8E7FF;
$Schemes-Surface-Container-Highest: #E3E2E1FF;
$Surfaces-Surface-Tint-5: #3C6A000D;
$Surfaces-Surface-Tint-8: #3C6A0014;
$Surfaces-Surface-Tint-11: #3C6A001C;
$Surfaces-Surface-Tint-12: #3C6A001F;
$Surfaces-Surface-Tint-14: #3C6A0024;
