%var-color-m3-based {
    --Surfaces-Surface-Tint-5: #{$Surfaces-Surface-Tint-5};
    --Surfaces-Surface-Tint-8: #{$Surfaces-Surface-Tint-8};
    --Surfaces-Surface-Tint-11: #{$Surfaces-Surface-Tint-11};
    --Surfaces-Surface-Tint-12: #{$Surfaces-Surface-Tint-12};
    --Surfaces-Surface-Tint-14: #{$Surfaces-Surface-Tint-14};
    --Palettes-Primary-100: #{$Palettes-Primary-100};
    --Palettes-Primary-99: #{$Palettes-Primary-99};
    --Palettes-Primary-98: #{$Palettes-Primary-98};
    --Palettes-Primary-95: #{$Palettes-Primary-95};
    --Palettes-Primary-90: #{$Palettes-Primary-90};
    --Palettes-Primary-80: #{$Palettes-Primary-80};
    --Palettes-Primary-70: #{$Palettes-Primary-70};
    --Palettes-Primary-60: #{$Palettes-Primary-60};
    --Palettes-Primary-50: #{$Palettes-Primary-50};
    --Palettes-Primary-40: #{$Palettes-Primary-40};
    --Palettes-Primary-35: #{$Palettes-Primary-35};
    --Palettes-Primary-30: #{$Palettes-Primary-30};
    --Palettes-Primary-25: #{$Palettes-Primary-25};
    --Palettes-Primary-20: #{$Palettes-Primary-20};
    --Palettes-Primary-15: #{$Palettes-Primary-15};
    --Palettes-Primary-10: #{$Palettes-Primary-10};
    --Palettes-Primary-5: #{$Palettes-Primary-5};
    --Palettes-Primary-0: #{$Palettes-Primary-0};
    --Palettes-Secondary-100: #{$Palettes-Secondary-100};
    --Palettes-Secondary-99: #{$Palettes-Secondary-99};
    --Palettes-Secondary-98: #{$Palettes-Secondary-98};
    --Palettes-Secondary-95: #{$Palettes-Secondary-95};
    --Palettes-Secondary-90: #{$Palettes-Secondary-90};
    --Palettes-Secondary-80: #{$Palettes-Secondary-80};
    --Palettes-Secondary-70: #{$Palettes-Secondary-70};
    --Palettes-Secondary-60: #{$Palettes-Secondary-60};
    --Palettes-Secondary-50: #{$Palettes-Secondary-50};
    --Palettes-Secondary-40: #{$Palettes-Secondary-40};
    --Palettes-Secondary-35: #{$Palettes-Secondary-35};
    --Palettes-Secondary-30: #{$Palettes-Secondary-30};
    --Palettes-Secondary-25: #{$Palettes-Secondary-25};
    --Palettes-Secondary-20: #{$Palettes-Secondary-20};
    --Palettes-Secondary-15: #{$Palettes-Secondary-15};
    --Palettes-Secondary-10: #{$Palettes-Secondary-10};
    --Palettes-Secondary-5: #{$Palettes-Secondary-5};
    --Palettes-Secondary-0: #{$Palettes-Secondary-0};
    --Palettes-Tertiary-100: #{$Palettes-Tertiary-100};
    --Palettes-Tertiary-99: #{$Palettes-Tertiary-99};
    --Palettes-Tertiary-98: #{$Palettes-Tertiary-98};
    --Palettes-Tertiary-95: #{$Palettes-Tertiary-95};
    --Palettes-Tertiary-90: #{$Palettes-Tertiary-90};
    --Palettes-Tertiary-80: #{$Palettes-Tertiary-80};
    --Palettes-Tertiary-70: #{$Palettes-Tertiary-70};
    --Palettes-Tertiary-60: #{$Palettes-Tertiary-60};
    --Palettes-Tertiary-50: #{$Palettes-Tertiary-50};
    --Palettes-Tertiary-40: #{$Palettes-Tertiary-40};
    --Palettes-Tertiary-35: #{$Palettes-Tertiary-35};
    --Palettes-Tertiary-30: #{$Palettes-Tertiary-30};
    --Palettes-Tertiary-25: #{$Palettes-Tertiary-25};
    --Palettes-Tertiary-20: #{$Palettes-Tertiary-20};
    --Palettes-Tertiary-15: #{$Palettes-Tertiary-15};
    --Palettes-Tertiary-10: #{$Palettes-Tertiary-10};
    --Palettes-Tertiary-5: #{$Palettes-Tertiary-5};
    --Palettes-Tertiary-0: #{$Palettes-Tertiary-0};
    --Palettes-Error-100: #{$Palettes-Error-100};
    --Palettes-Error-99: #{$Palettes-Error-99};
    --Palettes-Error-98: #{$Palettes-Error-98};
    --Palettes-Error-95: #{$Palettes-Error-95};
    --Palettes-Error-90: #{$Palettes-Error-90};
    --Palettes-Error-80: #{$Palettes-Error-80};
    --Palettes-Error-70: #{$Palettes-Error-70};
    --Palettes-Error-60: #{$Palettes-Error-60};
    --Palettes-Error-50: #{$Palettes-Error-50};
    --Palettes-Error-40: #{$Palettes-Error-40};
    --Palettes-Error-35: #{$Palettes-Error-35};
    --Palettes-Error-30: #{$Palettes-Error-30};
    --Palettes-Error-25: #{$Palettes-Error-25};
    --Palettes-Error-20: #{$Palettes-Error-20};
    --Palettes-Error-15: #{$Palettes-Error-15};
    --Palettes-Error-10: #{$Palettes-Error-10};
    --Palettes-Error-5: #{$Palettes-Error-5};
    --Palettes-Error-0: #{$Palettes-Error-0};
    --Palettes-Neutral-100: #{$Palettes-Neutral-100};
    --Palettes-Neutral-99: #{$Palettes-Neutral-99};
    --Palettes-Neutral-98: #{$Palettes-Neutral-98};
    --Palettes-Neutral-95: #{$Palettes-Neutral-95};
    --Palettes-Neutral-90: #{$Palettes-Neutral-90};
    --Palettes-Neutral-80: #{$Palettes-Neutral-80};
    --Palettes-Neutral-70: #{$Palettes-Neutral-70};
    --Palettes-Neutral-60: #{$Palettes-Neutral-60};
    --Palettes-Neutral-50: #{$Palettes-Neutral-50};
    --Palettes-Neutral-40: #{$Palettes-Neutral-40};
    --Palettes-Neutral-35: #{$Palettes-Neutral-35};
    --Palettes-Neutral-30: #{$Palettes-Neutral-30};
    --Palettes-Neutral-25: #{$Palettes-Neutral-25};
    --Palettes-Neutral-20: #{$Palettes-Neutral-20};
    --Palettes-Neutral-15: #{$Palettes-Neutral-15};
    --Palettes-Neutral-10: #{$Palettes-Neutral-10};
    --Palettes-Neutral-5: #{$Palettes-Neutral-5};
    --Palettes-Neutral-0: #{$Palettes-Neutral-0};
    --Palettes-Neutral-Variant-100: #{$Palettes-Neutral-Variant-100};
    --Palettes-Neutral-Variant-99: #{$Palettes-Neutral-Variant-99};
    --Palettes-Neutral-Variant-98: #{$Palettes-Neutral-Variant-98};
    --Palettes-Neutral-Variant-95: #{$Palettes-Neutral-Variant-95};
    --Palettes-Neutral-Variant-90: #{$Palettes-Neutral-Variant-90};
    --Palettes-Neutral-Variant-80: #{$Palettes-Neutral-Variant-80};
    --Palettes-Neutral-Variant-70: #{$Palettes-Neutral-Variant-70};
    --Palettes-Neutral-Variant-60: #{$Palettes-Neutral-Variant-60};
    --Palettes-Neutral-Variant-50: #{$Palettes-Neutral-Variant-50};
    --Palettes-Neutral-Variant-40: #{$Palettes-Neutral-Variant-40};
    --Palettes-Neutral-Variant-35: #{$Palettes-Neutral-Variant-35};
    --Palettes-Neutral-Variant-30: #{$Palettes-Neutral-Variant-30};
    --Palettes-Neutral-Variant-25: #{$Palettes-Neutral-Variant-25};
    --Palettes-Neutral-Variant-20: #{$Palettes-Neutral-Variant-20};
    --Palettes-Neutral-Variant-15: #{$Palettes-Neutral-Variant-15};
    --Palettes-Neutral-Variant-10: #{$Palettes-Neutral-Variant-10};
    --Palettes-Neutral-Variant-5: #{$Palettes-Neutral-Variant-5};
    --Palettes-Neutral-Variant-0: #{$Palettes-Neutral-Variant-0};
    --State-Layers-Primary-Opacity-08: #{$State-Layers-Primary-Opacity-08};
    --State-Layers-Surface-Tint-Opacity-08: #{$State-Layers-Surface-Tint-Opacity-08};
    --State-Layers-On-Primary-Opacity-08: #{$State-Layers-On-Primary-Opacity-08};
    --State-Layers-Primary-Container-Opacity-08: #{$State-Layers-Primary-Container-Opacity-08};
    --State-Layers-On-Primary-Container-Opacity-08: #{$State-Layers-On-Primary-Container-Opacity-08};
    --State-Layers-Secondary-Opacity-08: #{$State-Layers-Secondary-Opacity-08};
    --State-Layers-On-Secondary-Opacity-08: #{$State-Layers-On-Secondary-Opacity-08};
    --State-Layers-Secondary-Container-Opacity-08: #{$State-Layers-Secondary-Container-Opacity-08};
    --State-Layers-On-Secondary-Container-Opacity-08: #{$State-Layers-On-Secondary-Container-Opacity-08};
    --State-Layers-Tertiary-Opacity-08: #{$State-Layers-Tertiary-Opacity-08};
    --State-Layers-On-Tertiary-Opacity-08: #{$State-Layers-On-Tertiary-Opacity-08};
    --State-Layers-Tertiary-Container-Opacity-08: #{$State-Layers-Tertiary-Container-Opacity-08};
    --State-Layers-On-Tertiary-Container-Opacity-08: #{$State-Layers-On-Tertiary-Container-Opacity-08};
    --State-Layers-Error-Opacity-08: #{$State-Layers-Error-Opacity-08};
    --State-Layers-On-Error-Opacity-08: #{$State-Layers-On-Error-Opacity-08};
    --State-Layers-Error-Container-Opacity-08: #{$State-Layers-Error-Container-Opacity-08};
    --State-Layers-On-Error-Container-Opacity-08: #{$State-Layers-On-Error-Container-Opacity-08};
    --State-Layers-Background-Opacity-08: #{$State-Layers-Background-Opacity-08};
    --State-Layers-On-Background-Opacity-08: #{$State-Layers-On-Background-Opacity-08};
    --State-Layers-Surface-Opacity-08: #{$State-Layers-Surface-Opacity-08};
    --State-Layers-On-Surface-Opacity-08: #{$State-Layers-On-Surface-Opacity-08};
    --State-Layers-Surface-Variant-Opacity-08: #{$State-Layers-Surface-Variant-Opacity-08};
    --State-Layers-On-Surface-Variant-Opacity-08: #{$State-Layers-On-Surface-Variant-Opacity-08};
    --State-Layers-Outline-Opacity-08: #{$State-Layers-Outline-Opacity-08};
    --State-Layers-Outline-Variant-Opacity-08: #{$State-Layers-Outline-Variant-Opacity-08};
    --State-Layers-Shadow-Opacity-08: #{$State-Layers-Shadow-Opacity-08};
    --State-Layers-Scrim-Opacity-08: #{$State-Layers-Scrim-Opacity-08};
    --State-Layers-Inverse-Surface-Opacity-08: #{$State-Layers-Inverse-Surface-Opacity-08};
    --State-Layers-Inverse-On-Surface-Opacity-08: #{$State-Layers-Inverse-On-Surface-Opacity-08};
    --State-Layers-Inverse-Primary-Opacity-08: #{$State-Layers-Inverse-Primary-Opacity-08};
    --State-Layers-Primary-Fixed-Opacity-08: #{$State-Layers-Primary-Fixed-Opacity-08};
    --State-Layers-On-Primary-Fixed-Opacity-08: #{$State-Layers-On-Primary-Fixed-Opacity-08};
    --State-Layers-Primary-Fixed-Dim-Opacity-08: #{$State-Layers-Primary-Fixed-Dim-Opacity-08};
    --State-Layers-On-Primary-Fixed-Variant-Opacity-08: #{$State-Layers-On-Primary-Fixed-Variant-Opacity-08};
    --State-Layers-Secondary-Fixed-Opacity-08: #{$State-Layers-Secondary-Fixed-Opacity-08};
    --State-Layers-On-Secondary-Fixed-Opacity-08: #{$State-Layers-On-Secondary-Fixed-Opacity-08};
    --State-Layers-Secondary-Fixed-Dim-Opacity-08: #{$State-Layers-Secondary-Fixed-Dim-Opacity-08};
    --State-Layers-On-Secondary-Fixed-Variant-Opacity-08: #{$State-Layers-On-Secondary-Fixed-Variant-Opacity-08};
    --State-Layers-Tertiary-Fixed-Opacity-08: #{$State-Layers-Tertiary-Fixed-Opacity-08};
    --State-Layers-On-Tertiary-Fixed-Opacity-08: #{$State-Layers-On-Tertiary-Fixed-Opacity-08};
    --State-Layers-Tertiary-Fixed-Dim-Opacity-08: #{$State-Layers-Tertiary-Fixed-Dim-Opacity-08};
    --State-Layers-On-Tertiary-Fixed-Variant-Opacity-08: #{$State-Layers-On-Tertiary-Fixed-Variant-Opacity-08};
    --State-Layers-Surface-Dim-Opacity-08: #{$State-Layers-Surface-Dim-Opacity-08};
    --State-Layers-Surface-Bright-Opacity-08: #{$State-Layers-Surface-Bright-Opacity-08};
    --State-Layers-Surface-Container-Lowest-Opacity-08: #{$State-Layers-Surface-Container-Lowest-Opacity-08};
    --State-Layers-Surface-Container-Low-Opacity-08: #{$State-Layers-Surface-Container-Low-Opacity-08};
    --State-Layers-Surface-Container-Opacity-08: #{$State-Layers-Surface-Container-Opacity-08};
    --State-Layers-Surface-Container-High-Opacity-08: #{$State-Layers-Surface-Container-High-Opacity-08};
    --State-Layers-Surface-Container-Highest-Opacity-08: #{$State-Layers-Surface-Container-Highest-Opacity-08};
    --State-Layers-Primary-Opacity-10: #{$State-Layers-Primary-Opacity-10};
    --State-Layers-Surface-Tint-Opacity-10: #{$State-Layers-Surface-Tint-Opacity-10};
    --State-Layers-On-Primary-Opacity-10: #{$State-Layers-On-Primary-Opacity-10};
    --State-Layers-Primary-Container-Opacity-10: #{$State-Layers-Primary-Container-Opacity-10};
    --State-Layers-On-Primary-Container-Opacity-10: #{$State-Layers-On-Primary-Container-Opacity-10};
    --State-Layers-Secondary-Opacity-10: #{$State-Layers-Secondary-Opacity-10};
    --State-Layers-On-Secondary-Opacity-10: #{$State-Layers-On-Secondary-Opacity-10};
    --State-Layers-Secondary-Container-Opacity-10: #{$State-Layers-Secondary-Container-Opacity-10};
    --State-Layers-On-Secondary-Container-Opacity-10: #{$State-Layers-On-Secondary-Container-Opacity-10};
    --State-Layers-Tertiary-Opacity-10: #{$State-Layers-Tertiary-Opacity-10};
    --State-Layers-On-Tertiary-Opacity-10: #{$State-Layers-On-Tertiary-Opacity-10};
    --State-Layers-Tertiary-Container-Opacity-10: #{$State-Layers-Tertiary-Container-Opacity-10};
    --State-Layers-On-Tertiary-Container-Opacity-10: #{$State-Layers-On-Tertiary-Container-Opacity-10};
    --State-Layers-Error-Opacity-10: #{$State-Layers-Error-Opacity-10};
    --State-Layers-On-Error-Opacity-10: #{$State-Layers-On-Error-Opacity-10};
    --State-Layers-Error-Container-Opacity-10: #{$State-Layers-Error-Container-Opacity-10};
    --State-Layers-On-Error-Container-Opacity-10: #{$State-Layers-On-Error-Container-Opacity-10};
    --State-Layers-Background-Opacity-10: #{$State-Layers-Background-Opacity-10};
    --State-Layers-On-Background-Opacity-10: #{$State-Layers-On-Background-Opacity-10};
    --State-Layers-Surface-Opacity-10: #{$State-Layers-Surface-Opacity-10};
    --State-Layers-On-Surface-Opacity-10: #{$State-Layers-On-Surface-Opacity-10};
    --State-Layers-Surface-Variant-Opacity-10: #{$State-Layers-Surface-Variant-Opacity-10};
    --State-Layers-On-Surface-Variant-Opacity-10: #{$State-Layers-On-Surface-Variant-Opacity-10};
    --State-Layers-Outline-Opacity-10: #{$State-Layers-Outline-Opacity-10};
    --State-Layers-Outline-Variant-Opacity-10: #{$State-Layers-Outline-Variant-Opacity-10};
    --State-Layers-Shadow-Opacity-10: #{$State-Layers-Shadow-Opacity-10};
    --State-Layers-Scrim-Opacity-10: #{$State-Layers-Scrim-Opacity-10};
    --State-Layers-Inverse-Surface-Opacity-10: #{$State-Layers-Inverse-Surface-Opacity-10};
    --State-Layers-Inverse-On-Surface-Opacity-10: #{$State-Layers-Inverse-On-Surface-Opacity-10};
    --State-Layers-Inverse-Primary-Opacity-10: #{$State-Layers-Inverse-Primary-Opacity-10};
    --State-Layers-Primary-Fixed-Opacity-10: #{$State-Layers-Primary-Fixed-Opacity-10};
    --State-Layers-On-Primary-Fixed-Opacity-10: #{$State-Layers-On-Primary-Fixed-Opacity-10};
    --State-Layers-Primary-Fixed-Dim-Opacity-10: #{$State-Layers-Primary-Fixed-Dim-Opacity-10};
    --State-Layers-On-Primary-Fixed-Variant-Opacity-10: #{$State-Layers-On-Primary-Fixed-Variant-Opacity-10};
    --State-Layers-Secondary-Fixed-Opacity-10: #{$State-Layers-Secondary-Fixed-Opacity-10};
    --State-Layers-On-Secondary-Fixed-Opacity-10: #{$State-Layers-On-Secondary-Fixed-Opacity-10};
    --State-Layers-Secondary-Fixed-Dim-Opacity-10: #{$State-Layers-Secondary-Fixed-Dim-Opacity-10};
    --State-Layers-On-Secondary-Fixed-Variant-Opacity-10: #{$State-Layers-On-Secondary-Fixed-Variant-Opacity-10};
    --State-Layers-Tertiary-Fixed-Opacity-10: #{$State-Layers-Tertiary-Fixed-Opacity-10};
    --State-Layers-On-Tertiary-Fixed-Opacity-10: #{$State-Layers-On-Tertiary-Fixed-Opacity-10};
    --State-Layers-Tertiary-Fixed-Dim-Opacity-10: #{$State-Layers-Tertiary-Fixed-Dim-Opacity-10};
    --State-Layers-On-Tertiary-Fixed-Variant-Opacity-10: #{$State-Layers-On-Tertiary-Fixed-Variant-Opacity-10};
    --State-Layers-Surface-Dim-Opacity-10: #{$State-Layers-Surface-Dim-Opacity-10};
    --State-Layers-Surface-Bright-Opacity-10: #{$State-Layers-Surface-Bright-Opacity-10};
    --State-Layers-Surface-Container-Lowest-Opacity-10: #{$State-Layers-Surface-Container-Lowest-Opacity-10};
    --State-Layers-Surface-Container-Low-Opacity-10: #{$State-Layers-Surface-Container-Low-Opacity-10};
    --State-Layers-Surface-Container-Opacity-10: #{$State-Layers-Surface-Container-Opacity-10};
    --State-Layers-Surface-Container-High-Opacity-10: #{$State-Layers-Surface-Container-High-Opacity-10};
    --State-Layers-Surface-Container-Highest-Opacity-10: #{$State-Layers-Surface-Container-Highest-Opacity-10};
    --State-Layers-Primary-Opacity-16: #{$State-Layers-Primary-Opacity-16};
    --State-Layers-Surface-Tint-Opacity-16: #{$State-Layers-Surface-Tint-Opacity-16};
    --State-Layers-On-Primary-Opacity-16: #{$State-Layers-On-Primary-Opacity-16};
    --State-Layers-Primary-Container-Opacity-16: #{$State-Layers-Primary-Container-Opacity-16};
    --State-Layers-On-Primary-Container-Opacity-16: #{$State-Layers-On-Primary-Container-Opacity-16};
    --State-Layers-Secondary-Opacity-16: #{$State-Layers-Secondary-Opacity-16};
    --State-Layers-On-Secondary-Opacity-16: #{$State-Layers-On-Secondary-Opacity-16};
    --State-Layers-Secondary-Container-Opacity-16: #{$State-Layers-Secondary-Container-Opacity-16};
    --State-Layers-On-Secondary-Container-Opacity-16: #{$State-Layers-On-Secondary-Container-Opacity-16};
    --State-Layers-Tertiary-Opacity-16: #{$State-Layers-Tertiary-Opacity-16};
    --State-Layers-On-Tertiary-Opacity-16: #{$State-Layers-On-Tertiary-Opacity-16};
    --State-Layers-Tertiary-Container-Opacity-16: #{$State-Layers-Tertiary-Container-Opacity-16};
    --State-Layers-On-Tertiary-Container-Opacity-16: #{$State-Layers-On-Tertiary-Container-Opacity-16};
    --State-Layers-Error-Opacity-16: #{$State-Layers-Error-Opacity-16};
    --State-Layers-On-Error-Opacity-16: #{$State-Layers-On-Error-Opacity-16};
    --State-Layers-Error-Container-Opacity-16: #{$State-Layers-Error-Container-Opacity-16};
    --State-Layers-On-Error-Container-Opacity-16: #{$State-Layers-On-Error-Container-Opacity-16};
    --State-Layers-Background-Opacity-16: #{$State-Layers-Background-Opacity-16};
    --State-Layers-On-Background-Opacity-16: #{$State-Layers-On-Background-Opacity-16};
    --State-Layers-Surface-Opacity-16: #{$State-Layers-Surface-Opacity-16};
    --State-Layers-On-Surface-Opacity-16: #{$State-Layers-On-Surface-Opacity-16};
    --State-Layers-Surface-Variant-Opacity-16: #{$State-Layers-Surface-Variant-Opacity-16};
    --State-Layers-On-Surface-Variant-Opacity-16: #{$State-Layers-On-Surface-Variant-Opacity-16};
    --State-Layers-Outline-Opacity-16: #{$State-Layers-Outline-Opacity-16};
    --State-Layers-Outline-Variant-Opacity-16: #{$State-Layers-Outline-Variant-Opacity-16};
    --State-Layers-Shadow-Opacity-16: #{$State-Layers-Shadow-Opacity-16};
    --State-Layers-Scrim-Opacity-16: #{$State-Layers-Scrim-Opacity-16};
    --State-Layers-Inverse-Surface-Opacity-16: #{$State-Layers-Inverse-Surface-Opacity-16};
    --State-Layers-Inverse-On-Surface-Opacity-16: #{$State-Layers-Inverse-On-Surface-Opacity-16};
    --State-Layers-Inverse-Primary-Opacity-16: #{$State-Layers-Inverse-Primary-Opacity-16};
    --State-Layers-Primary-Fixed-Opacity-16: #{$State-Layers-Primary-Fixed-Opacity-16};
    --State-Layers-On-Primary-Fixed-Opacity-16: #{$State-Layers-On-Primary-Fixed-Opacity-16};
    --State-Layers-Primary-Fixed-Dim-Opacity-16: #{$State-Layers-Primary-Fixed-Dim-Opacity-16};
    --State-Layers-On-Primary-Fixed-Variant-Opacity-16: #{$State-Layers-On-Primary-Fixed-Variant-Opacity-16};
    --State-Layers-Secondary-Fixed-Opacity-16: #{$State-Layers-Secondary-Fixed-Opacity-16};
    --State-Layers-On-Secondary-Fixed-Opacity-16: #{$State-Layers-On-Secondary-Fixed-Opacity-16};
    --State-Layers-Secondary-Fixed-Dim-Opacity-16: #{$State-Layers-Secondary-Fixed-Dim-Opacity-16};
    --State-Layers-On-Secondary-Fixed-Variant-Opacity-16: #{$State-Layers-On-Secondary-Fixed-Variant-Opacity-16};
    --State-Layers-Tertiary-Fixed-Opacity-16: #{$State-Layers-Tertiary-Fixed-Opacity-16};
    --State-Layers-On-Tertiary-Fixed-Opacity-16: #{$State-Layers-On-Tertiary-Fixed-Opacity-16};
    --State-Layers-Tertiary-Fixed-Dim-Opacity-16: #{$State-Layers-Tertiary-Fixed-Dim-Opacity-16};
    --State-Layers-On-Tertiary-Fixed-Variant-Opacity-16: #{$State-Layers-On-Tertiary-Fixed-Variant-Opacity-16};
    --State-Layers-Surface-Dim-Opacity-16: #{$State-Layers-Surface-Dim-Opacity-16};
    --State-Layers-Surface-Bright-Opacity-16: #{$State-Layers-Surface-Bright-Opacity-16};
    --State-Layers-Surface-Container-Lowest-Opacity-16: #{$State-Layers-Surface-Container-Lowest-Opacity-16};
    --State-Layers-Surface-Container-Low-Opacity-16: #{$State-Layers-Surface-Container-Low-Opacity-16};
    --State-Layers-Surface-Container-Opacity-16: #{$State-Layers-Surface-Container-Opacity-16};
    --State-Layers-Surface-Container-High-Opacity-16: #{$State-Layers-Surface-Container-High-Opacity-16};
    --State-Layers-Surface-Container-Highest-Opacity-16: #{$State-Layers-Surface-Container-Highest-Opacity-16};
    --Extended-Colors-Custom-Color-1: #{$Extended-Colors-Custom-Color-1};
    --Extended-Colors-On-Custom-Color-1: #{$Extended-Colors-On-Custom-Color-1};
    --Extended-Colors-Custom-Color-1-Container: #{$Extended-Colors-Custom-Color-1-Container};
    --Extended-Colors-On-Custom-Color-1-Container: #{$Extended-Colors-On-Custom-Color-1-Container};
    --SHADOW-15: #{$SHADOW-15};
    --SHADOW-30: #{$SHADOW-30};
    --Schemes-Primary: #{$Schemes-Primary};
    --Schemes-Surface-Tint: #{$Schemes-Surface-Tint};
    --Schemes-On-Primary: #{$Schemes-On-Primary};
    --Schemes-Primary-Container: #{$Schemes-Primary-Container};
    --Schemes-On-Primary-Container: #{$Schemes-On-Primary-Container};
    --Schemes-Secondary: #{$Schemes-Secondary};
    --Schemes-On-Secondary: #{$Schemes-On-Secondary};
    --Schemes-Secondary-Container: #{$Schemes-Secondary-Container};
    --Schemes-On-Secondary-Container: #{$Schemes-On-Secondary-Container};
    --Schemes-Tertiary: #{$Schemes-Tertiary};
    --Schemes-On-Tertiary: #{$Schemes-On-Tertiary};
    --Schemes-Tertiary-Container: #{$Schemes-Tertiary-Container};
    --Schemes-On-Tertiary-Container: #{$Schemes-On-Tertiary-Container};
    --Schemes-Error: #{$Schemes-Error};
    --Schemes-On-Error: #{$Schemes-On-Error};
    --Schemes-Error-Container: #{$Schemes-Error-Container};
    --Schemes-On-Error-Container: #{$Schemes-On-Error-Container};
    --Schemes-Background: #{$Schemes-Background};
    --Schemes-On-Background: #{$Schemes-On-Background};
    --Schemes-Surface: #{$Schemes-Surface};
    --Schemes-On-Surface: #{$Schemes-On-Surface};
    --Schemes-Surface-Variant: #{$Schemes-Surface-Variant};
    --Schemes-On-Surface-Variant: #{$Schemes-On-Surface-Variant};
    --Schemes-Outline: #{$Schemes-Outline};
    --Schemes-Outline-Variant: #{$Schemes-Outline-Variant};
    --Schemes-Shadow: #{$Schemes-Shadow};
    --Schemes-Scrim: #{$Schemes-Scrim};
    --Schemes-Inverse-Surface: #{$Schemes-Inverse-Surface};
    --Schemes-Inverse-On-Surface: #{$Schemes-Inverse-On-Surface};
    --Schemes-Inverse-Primary: #{$Schemes-Inverse-Primary};
    --Schemes-Primary-Fixed: #{$Schemes-Primary-Fixed};
    --Schemes-On-Primary-Fixed: #{$Schemes-On-Primary-Fixed};
    --Schemes-Primary-Fixed-Dim: #{$Schemes-Primary-Fixed-Dim};
    --Schemes-On-Primary-Fixed-Variant: #{$Schemes-On-Primary-Fixed-Variant};
    --Schemes-Secondary-Fixed: #{$Schemes-Secondary-Fixed};
    --Schemes-On-Secondary-Fixed: #{$Schemes-On-Secondary-Fixed};
    --Schemes-Secondary-Fixed-Dim: #{$Schemes-Secondary-Fixed-Dim};
    --Schemes-On-Secondary-Fixed-Variant: #{$Schemes-On-Secondary-Fixed-Variant};
    --Schemes-Tertiary-Fixed: #{$Schemes-Tertiary-Fixed};
    --Schemes-On-Tertiary-Fixed: #{$Schemes-On-Tertiary-Fixed};
    --Schemes-Tertiary-Fixed-Dim: #{$Schemes-Tertiary-Fixed-Dim};
    --Schemes-On-Tertiary-Fixed-Variant: #{$Schemes-On-Tertiary-Fixed-Variant};
    --Schemes-Surface-Dim: #{$Schemes-Surface-Dim};
    --Schemes-Surface-Bright: #{$Schemes-Surface-Bright};
    --Schemes-Surface-Container-Lowest: #{$Schemes-Surface-Container-Lowest};
    --Schemes-Surface-Container-Low: #{$Schemes-Surface-Container-Low};
    --Schemes-Surface-Container: #{$Schemes-Surface-Container};
    --Schemes-Surface-Container-High: #{$Schemes-Surface-Container-High};
    --Schemes-Surface-Container-Highest: #{$Schemes-Surface-Container-Highest};
}
