* {
  text-decoration: none;
}

.blogItemContainer {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.blogItemContainer:hover {
  box-shadow: var(--shadow-3)
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay .title {
  padding: var(--Spacing-Spacing-S);
  padding-top: var(--Spacing-Spacing-XL);
  background: linear-gradient(to top, var(--Schemes-On-Surface), transparent);
  color: var(--Schemes-Surface);
}

.iconRow {
  display: flex;
  flex-direction: row-reverse !important;
  padding: var(--Spacing-Spacing-S);
}

.iconContainer {
  height: var(--Icon-BASE-Icon-size, 24px);
  width: var(--Icon-BASE-Icon-size, 24px);
  filter: drop-shadow(0 0 1px var(--Schemes-On-Primary));
}

.blogItemContainer:hover .iconContainer {
  filter: drop-shadow(0 0 2px var(--Schemes-On-Primary));
}

.titleHolder {
  gap: var(--Spacing-Spacing-XS, 12px);
  width: fit-content;
}

.title {
  text-align: justify;
}

.description {
  text-align: justify;
}

.support {
  gap: var(--Spacing-Spacing-XXXS, 4px);
}

.tags {
  gap: var(--Spacing-Spacing-XXS, 8px);
}

/* COLUMN */
.blog2RowContainer {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-Spacing-S, 16px);
}

/* ROW */

.blog2RowContainer.direction-row {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  gap: var(--Spacing-Spacing-S, 16px);
}

.direction-row .Blog2RowComponetImage {
  max-width: 50%;
}


/* WIDTH */
.direction-column.thumbSize-100 {
  width: 100%;
  max-width: 100px;
}

.direction-column.thumbSize-300 {
  width: 100%;
  max-width: 300px;
}

.direction-column.thumbSize-600 {
  width: 100%;
  max-width: 600px;
}

.blog2RowContainer.thumbSize-full {
  width: 100%;
}

/* STATE */

.blog2RowContainer:hover .Blog2RowComponetImage {
  box-shadow: var(--shadow-3);
}

.blog2RowContainer:hover .title {
  color: var(--Schemes-Primary) !important;
}

.blog2RowContainer:hover .description {
  color: var(--Schemes-On-Surface);
}

/* BlogDetail */
.readingContainer {
  display: flex;
  padding: var(--Spacing-Spacing-L, 36px) var(--Spacing-Spacing-XXL, 56px);
  flex-direction: column;
  gap: var(--Spacing-Spacing-M, 24px);
  align-self: stretch;
}

:global(body.size-and-spacing-sm) .readingContainer {
  padding: var(--Spacing-Spacing-L, 36px) var(--Spacing-Spacing-S, 16px);
}

.readingHeader {
  display: flex;
  flex-direction: row;
  gap: var(--Spacing-Spacing-XS, 12px);
}

:global(body.size-and-spacing-sm) .readingHeader {
  flex-direction: column;
}

.authorRow {
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 16px var(--Spacing-Spacing-S, 16px);
}

.markdownContent {
  max-width: 1920px;
  margin: auto;
  flex: 1;
  width: 100%;
}

.markdownContent * {
  text-align: justify;
}

.markdownContent p,
.markdownContent li,
.markdownContent blockquote,
.markdownContent td,
.markdownContent th {
  color: var(--Schemes-On-Surface, #1A1C1B) !important;
  text-align: justify;

  /* Body */
  font-family: var(--Body-Family, Inconsolata);
  font-size: var(--Body-Font-Size, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-Line-height, 28px);
  /* 140% */
  letter-spacing: var(--Body-Letter-spacing, 0.5px);
  width: inherit;
  text-wrap: pretty;
}

.markdownContent h2,
.markdownContent h3,
.markdownContent h4,
.markdownContent h5,
.markdownContent h6 {
  color: var(--Schemes-On-Surface, #1A1C1B);

  /* Headline */
  font-family: var(--Headline-Family, Epilogue);
  font-style: normal;
  line-height: 125%;
  letter-spacing: var(--Headline-Letter-spacing, 0);

  margin-top: var(--Spacing-Spacing-L);
}

.markdownContent rect,
.markdownContent circle,
.markdownContent ellipse,
.markdownContent polygon {
  fill: var(--Schemes-Surface-Container, #FFFFFF) !important;
  stroke: var(--Schemes-On-Surface, #1A1C1B) !important;
}

.markdownContent text,
.markdownContent tspan {
  fill: var(--Schemes-On-Surface, #1A1C1B) !important;
  color: var(--Schemes-On-Surface, #1A1C1B) !important;
}

.markdownContent line,
.markdownContent path,
.markdownContent polyline {
  stroke: var(--Schemes-On-Surface, #1A1C1B) !important;
}

.markdownContent img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 16px auto;
  object-fit: cover;
}