* {
  text-decoration: none;
}

.blogItemContainer {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.blogItemContainer:hover {
  box-shadow: var(--shadow-3)
}

.overlay {
  padding: var(--Spacing-Spaceing-S);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconRow {
  display: flex;
  flex-direction: row-reverse !important;
}

.iconContainer {
  height: var(--Icon-BASE-Icon-size, 24px);
  width: var(--Icon-BASE-Icon-size, 24px);
}

.titleHolder {
  gap: var(--Spacing-Spaceing-XS, 12px);
  width: fit-content;
}

.title {
  text-align: justify;
}

.description {
  text-align: justify;
}

.support {
  gap: var(--Spacing-Spaceing-XXXS, 4px);
}

.tags {
  gap: var(--Spacing-Spaceing-XXS, 8px);
}

/* COLUMN */
.blog2RowContainer {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-Spaceing-S, 16px);
}

/* ROW */

.blog2RowContainer.direction-row {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  gap: var(--Spacing-Spaceing-S, 16px);
}

.direction-row .Blog2RowComponetImage {
  max-width: 50%;
}


/* WIDTH */
.direction-column.thumbSize-100 {
  width: 100%;
  max-width: 100px;
}

.direction-column.thumbSize-300 {
  width: 100%;
  max-width: 300px;
}

.direction-column.thumbSize-600 {
  width: 100%;
  max-width: 600px;
}

.blog2RowContainer.thumbSize-full {
  width: 100%;
}

/* STATE */

.blog2RowContainer:hover .Blog2RowComponetImage {
  box-shadow: var(--shadow-3);
}

.blog2RowContainer:hover .title {
  color: var(--Schemes-Primary) !important;
}

.blog2RowContainer:hover .description {
  color: var(--Schemes-On-Surface);
}

/* BlogDetail */
.readingContainer {
  display: flex;
  padding: var(--Spacing-Spaceing-L, 36px) var(--Spacing-Spaceing-XXL, 56px);
  flex-direction: column;
  gap: var(--Spacing-Spaceing-M, 24px);
  align-self: stretch;
}

:global(body.size-and-spacing-sm) .readingContainer {
  padding: var(--Spacing-Spaceing-L, 36px) var(--Spacing-Spaceing-S, 16px);
}

.readingHeader {
  display: flex;
  flex-direction: row;
  gap: var(--Spacing-Spaceing-XS, 12px);
}

:global(body.size-and-spacing-sm) .readingHeader {
  flex-direction: column;
}

.authorRow {
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 16px var(--Spacing-Spaceing-S, 16px);
}