/* Typo responsive - MD */
$Size-Display-Large: 48px;
$Size-Display-Medium: 40px;
$Size-Display-Small: 34px;
$Size-Headline-Large: 28px;
$Size-Headline-Medium: 24px;
$Size-Headline-Small: 22px;
$Size-Title-Large: 20px;
$Size-Title-Medium: 16px;
$Size-Title-Small: 14px;
$Size-Label-Large: 12px;
$Size-Label-Medium: 11px;
$Size-Label-Small: 10px;
$Size-Body-Large: 19px;
$Size-Body-Medium: 15px;
$Size-Body-Small: 13px;
$Line-height-Display-Large: 56px;
$Line-height-Display-Medium: 48px;
$Line-height-Display-Small: 40px;
$Line-height-Headline-Large: 36px;
$Line-height-Headline-Medium: 32px;
$Line-height-Headline-Small: 28px;
$Line-height-Title-Large: 24px;
$Line-height-Title-Medium: 20px;
$Line-height-Title-Small: 18px;
$Line-height-Label-Large: 16px;
$Line-height-Label-Medium: 16px;
$Line-height-Label-Small: 14px;
$Line-height-Body-Large: 28px;
$Line-height-Body-Medium: 24px;
$Line-height-Body-Small: 20px;