/* Typo responsive - SM */
$Size-Display-Large: 45px;
$Size-Display-Medium: 36px;
$Size-Display-Small: 30px;
$Size-Headline-Large: 24px;
$Size-Headline-Medium: 22px;
$Size-Headline-Small: 20px;
$Size-Title-Large: 20px;
$Size-Title-Medium: 16px;
$Size-Title-Small: 14px;
$Size-Label-Large: 12px;
$Size-Label-Medium: 11px;
$Size-Label-Small: 10px;
$Size-Body-Large: 18px;
$Size-Body-Medium: 14px;
$Size-Body-Small: 12px;
$Line-height-Display-Large: 48px;
$Line-height-Display-Medium: 40px;
$Line-height-Display-Small: 38px;
$Line-height-Headline-Large: 32px;
$Line-height-Headline-Medium: 28px;
$Line-height-Headline-Small: 24px;
$Line-height-Title-Large: 24px;
$Line-height-Title-Medium: 20px;
$Line-height-Title-Small: 18px;
$Line-height-Label-Large: 16px;
$Line-height-Label-Medium: 16px;
$Line-height-Label-Small: 14px;
$Line-height-Body-Large: 28px;
$Line-height-Body-Medium: 24px;
$Line-height-Body-Small: 20px;