%var-typo-responsive {
    --Size-Display-Large: #{$Size-Display-Large};
    --Size-Display-Medium: #{$Size-Display-Medium};
    --Size-Display-Small: #{$Size-Display-Small};
    --Size-Headline-Large: #{$Size-Headline-Large};
    --Size-Headline-Medium: #{$Size-Headline-Medium};
    --Size-Headline-Small: #{$Size-Headline-Small};
    --Size-Title-Large: #{$Size-Title-Large};
    --Size-Title-Medium: #{$Size-Title-Medium};
    --Size-Title-Small: #{$Size-Title-Small};
    --Size-Label-Large: #{$Size-Label-Large};
    --Size-Label-Medium: #{$Size-Label-Medium};
    --Size-Label-Small: #{$Size-Label-Small};
    --Size-Body-Large: #{$Size-Body-Large};
    --Size-Body-Medium: #{$Size-Body-Medium};
    --Size-Body-Small: #{$Size-Body-Small};
    --Line-height-Display-Large: #{$Line-height-Display-Large};
    --Line-height-Display-Medium: #{$Line-height-Display-Medium};
    --Line-height-Display-Small: #{$Line-height-Display-Small};
    --Line-height-Headline-Large: #{$Line-height-Headline-Large};
    --Line-height-Headline-Medium: #{$Line-height-Headline-Medium};
    --Line-height-Headline-Small: #{$Line-height-Headline-Small};
    --Line-height-Title-Large: #{$Line-height-Title-Large};
    --Line-height-Title-Medium: #{$Line-height-Title-Medium};
    --Line-height-Title-Small: #{$Line-height-Title-Small};
    --Line-height-Label-Large: #{$Line-height-Label-Large};
    --Line-height-Label-Medium: #{$Line-height-Label-Medium};
    --Line-height-Label-Small: #{$Line-height-Label-Small};
    --Line-height-Body-Large: #{$Line-height-Body-Large};
    --Line-height-Body-Medium: #{$Line-height-Body-Medium};
    --Line-height-Body-Small: #{$Line-height-Body-Small};
}