/* Typo responsive - XL */
$Size-Display-Large: 60px;
$Size-Display-Medium: 48px;
$Size-Display-Small: 40px;
$Size-Headline-Large: 36px;
$Size-Headline-Medium: 32px;
$Size-Headline-Small: 28px;
$Size-Title-Large: 24px;
$Size-Title-Medium: 18px;
$Size-Title-Small: 16px;
$Size-Label-Large: 16px;
$Size-Label-Medium: 14px;
$Size-Label-Small: 12px;
$Size-Body-Large: 20px;
$Size-Body-Medium: 16px;
$Size-Body-Small: 14px;
$Line-height-Display-Large: 72px;
$Line-height-Display-Medium: 56px;
$Line-height-Display-Small: 48px;
$Line-height-Headline-Large: 44px;
$Line-height-Headline-Medium: 40px;
$Line-height-Headline-Small: 36px;
$Line-height-Title-Large: 32px;
$Line-height-Title-Medium: 28px;
$Line-height-Title-Small: 24px;
$Line-height-Label-Large: 20px;
$Line-height-Label-Medium: 20px;
$Line-height-Label-Small: 16px;
$Line-height-Body-Large: 32px;
$Line-height-Body-Medium: 28px;
$Line-height-Body-Small: 24px;