.wrapperLayout {
    padding: var(--Padding-and-Margin-PM-0, 24px) var(--Padding-and-Margin-PM-0, 24px) var(--Padding-and-Margin-PM-2, 48px) var(--Padding-and-Margin-PM-0, 24px);
    gap: var(--Gap-Gap-0, 24px);
}

.wrapperLayoutVer2 {
    padding: var(--Padding-and-Margin-PM-0, 24px) var(--Padding-and-Margin-PM-0, 24px) var(--Padding-and-Margin-PM-2, 48px) var(--Padding-and-Margin-PM-0, 24px);
    gap: var(--Gap-Gap-2, 48px);
}

.wrapperLayoutVer2 .wrapperLayoutVer2_itemWrapper {
    gap: var(--Gap-Gap-0, 24px);
}

:global(body.size-and-spacing-sm) .wrapperLayout,
:global(body.size-and-spacing-sm) .wrapperLayoutVer2_itemWrapper,
:global(body.size-and-spacing-md) [class*='shiftVerticalMd'] {
    flex-direction: column !important;
}