/* ColorMode - Default */
.colorModeDefault {
  --Fill-BG: var(--Schemes-Surface-Container);
  --Fill-State-layer: var(--Schemes-Surface-Container);
  --Fill-Content: var(--Schemes-Primary);
  --Fill-Content-Outline: var(--Schemes-Outline-Variant);
  --Fill-BG-Selected: var(--Schemes-Primary);
  --Fill-Fixed-BG: var(--Schemes-Surface-Container-Low);
  --Fill-Fixed-State-layer: var(--Schemes-Surface-Container-Low);
  --Fill-Fixed-Content: var(--Schemes-Surface-Tint);
  --Fill-Fixed-Content-Outline: var(--Schemes-Surface-Tint);
  --Fill-Fixed-BG-Selected: var(--Schemes-Inverse-Primary);
  --Fill-Fixed-State-layer-Selected: var(--Schemes-Primary-Container);
  --Fill-Fixed-Content-Selected: var(--Schemes-On-Surface);
  --Fill-Fixed-Content-Outline-Selected: var(--Schemes-On-Surface);
  --Fill-State-layer-Selected: var(--Schemes-Primary-Container);
  --Fill-Content-Selected: var(--Schemes-On-Primary);
  --Fill-Content-Outline-Selected: var(--Schemes-On-Primary);
  --Outlined-BG: #00000000;
  --Outlined-State-layer: var(--Schemes-On-Surface-Variant);
  --Outlined-Content: var(--Schemes-On-Surface-Variant);
  --Outlined-Content-Outline: var(--Schemes-Outline);
  --Outlined-BG-Selected: #00000000;
  --Outlined-State-layer-Selected: var(--Schemes-Primary);
  --Outlined-Content-Selected: var(--Schemes-Primary);
  --Outlined-Content-Outline-Selected: var(--Schemes-On-Surface);
  --Elevated-BG: var(--Schemes-Surface-Container-Low);
  --Elevated-State-layer: var(--Schemes-Surface-Container-Low);
  --Elevated-Content: var(--Schemes-Surface-Tint);
  --Elevated-Content-Outline: var(--Schemes-Outline);
  --Elevated-BG-Selected: var(--Schemes-Surface-Tint);
  --Elevated-State-layer-Selected: var(--Schemes-Inverse-Primary);
  --Elevated-Content-Selected: var(--Schemes-Surface-Container-Low);
  --Elevated-Content-Outline-Selected: var(--Schemes-On-Surface);
}