.colorModePrimary {
    --Fill-BG: var(--Schemes-Primary-Container);
    --Fill-State-layer: var(--Schemes-Primary);
    --Fill-Content: var(--Schemes-On-Primary-Container);
    --Fill-Content-Outline: var(--Schemes-Outline-Variant);
    --Fill-BG-Selected: var(--Schemes-Primary);
    --Fill-Fixed-BG: var(--Schemes-Primary-Fixed);
    --Fill-Fixed-State-layer: var(--Schemes-Primary-Fixed-Dim);
    --Fill-Fixed-Content: var(--Schemes-On-Primary-Fixed);
    --Fill-Fixed-Content-Outline: var(--Schemes-Outline);
    --Fill-Fixed-BG-Selected: var(--Schemes-Primary-Fixed-Dim);
    --Fill-Fixed-State-layer-Selected: var(--Schemes-Primary-Fixed);
    --Fill-Fixed-Content-Selected: var(--Schemes-On-Primary-Fixed-Variant);
    --Fill-Fixed-Content-Outline-Selected: var(--Schemes-On-Surface);
    --Fill-State-layer-Selected: var(--Schemes-Primary-Container);
    --Fill-Content-Selected: var(--Schemes-On-Primary);
    --Fill-Content-Outline-Selected: var(--Schemes-Outline-Variant);
    --Outlined-BG: #00000000;
    --Outlined-State-layer: var(--Schemes-Primary);
    --Outlined-Content: var(--Schemes-Primary);
    --Outlined-Content-Outline: var(--Schemes-Outline);
    --Outlined-BG-Selected: #00000000;
    --Outlined-State-layer-Selected: var(--Schemes-Primary);
    --Outlined-Content-Selected: var(--Schemes-Primary);
    --Outlined-Content-Outline-Selected: var(--Schemes-Primary);
    --Elevated-BG: var(--Schemes-Surface-Container-Low);
    --Elevated-State-layer: var(--Schemes-Surface-Container-Low);
    --Elevated-Content: var(--Schemes-Primary);
    --Elevated-Content-Outline: var(--Schemes-Outline);
    --Elevated-BG-Selected: var(--Schemes-Primary);
    --Elevated-State-layer-Selected: var(--Schemes-Primary-Container);
    --Elevated-Content-Selected: var(--Schemes-Surface-Container-Low);
    --Elevated-Content-Outline-Selected: var(--Schemes-On-Surface);
}