/* ColorMode - Tertiary */
.colorModeTertiary {
  --Fill-BG: var(--Schemes-Tertiary-Container);
  --Fill-State-layer: var(--Schemes-Tertiary);
  --Fill-Content: var(--Schemes-On-Tertiary-Container);
  --Fill-Content-Outline: var(--Schemes-Outline-Variant);
  --Fill-BG-Selected: var(--Schemes-Tertiary);
  --Fill-Fixed-BG: var(--Schemes-Tertiary-Fixed);
  --Fill-Fixed-State-layer: var(--Schemes-Tertiary-Fixed-Dim);
  --Fill-Fixed-Content: var(--Schemes-On-Tertiary-Fixed);
  --Fill-Fixed-Content-Outline: var(--Schemes-Outline);
  --Fill-Fixed-BG-Selected: var(--Schemes-Tertiary-Fixed-Dim);
  --Fill-Fixed-State-layer-Selected: var(--Schemes-Tertiary-Fixed);
  --Fill-Fixed-Content-Selected: var(--Schemes-On-Tertiary-Fixed-Variant);
  --Fill-Fixed-Content-Outline-Selected: var(--Schemes-On-Surface);
  --Fill-State-layer-Selected: var(--Schemes-Tertiary-Container);
  --Fill-Content-Selected: var(--Schemes-On-Tertiary);
  --Fill-Content-Outline-Selected: var(--Schemes-Outline-Variant);
  --Outlined-BG: #00000000;
  --Outlined-State-layer: var(--Schemes-Tertiary);
  --Outlined-Content: var(--Schemes-Tertiary);
  --Outlined-Content-Outline: var(--Schemes-Outline);
  --Outlined-BG-Selected: #00000000;
  --Outlined-State-layer-Selected: var(--Schemes-Tertiary);
  --Outlined-Content-Selected: var(--Schemes-Tertiary);
  --Outlined-Content-Outline-Selected: var(--Schemes-Tertiary);
  --Elevated-BG: var(--Schemes-Surface-Container-Low);
  --Elevated-State-layer: var(--Schemes-Surface-Container-Low);
  --Elevated-Content: var(--Schemes-Tertiary);
  --Elevated-Content-Outline: var(--Schemes-Outline);
  --Elevated-BG-Selected: var(--Schemes-Tertiary);
  --Elevated-State-layer-Selected: var(--Schemes-Tertiary-Container);
  --Elevated-Content-Selected: var(--Schemes-Surface-Container-Low);
  --Elevated-Content-Outline-Selected: var(--Schemes-On-Surface);
}