.modalBG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    padding: var(--Spacing-Spacing-S);
}

.bgDark {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, var(--Schemes-Surface) 50%, transparent);
}

.modalContent {
    z-index: 2001;
    min-width: 10rem;
    min-height: 10rem;
    background-color: var(--Schemes-Surface-Container);
    padding: var(--Spacing-Spacing-S);
    gap: var(--Spacing-Spacing-XS);
    align-content: space-between;
    color: var(--Schemes-On-Surface);
}

.destructive {
    color: var(--Schemes-Error);
}

.textPadding {
    padding: 0 var(--Spacing-Spacing-XXS)
}

.full button {
    width: 100%;
}

.full,
.full div {
    flex-direction: column-reverse !important;
}