/* Typography system - Large */
$Display-Family: var(--Typeface-Font-family-1);
$Display-Font-Size: var(--Size-Display-Large);
$Display-Line-height: var(--Line-height-Display-Large);
$Display-Letter-spacing: -0.25px;
$Headline-Family: var(--Typeface-Font-family-1);
$Display-Weight: var(--Typeface-Weight-Bold);
$Headline-Font-Size: var(--Size-Headline-Large);
$Headline-Line-height: var(--Line-height-Headline-Large);
$Headline-Letter-spacing: 0px;
$Headline-Weight: var(--Typeface-Weight-Bold);
$Label-Family: var(--Typeface-Font-family-2);
$Label-Font-Size: var(--Size-Label-Large);
$Label-Line-height: var(--Line-height-Label-Large);
$Label-Letter-spacing: 0.1;
$Label-Weight: var(--Typeface-Weight-Bold);
$Title-Family: var(--Typeface-Font-family-2);
$Body-Family: var(--Typeface-Font-family-2);
$Body-Font-Size: var(--Size-Body-Large);
$Body-Line-height: var(--Line-height-Body-Large);
$Body-Letter-spacing: 0.5px;
$Title-Font-Size: var(--Size-Title-Large);
$Body-Weight: var(--Typeface-Weight-Regular);
$Title-Line-height: var(--Line-height-Title-Large);
$Title-Letter-spacing: 0px;
$Title-Weight: var(--Typeface-Weight-Regular);