/* Typography system - Medium */
$Display-Family: var(--Typeface-Font-family-1);
$Display-Font-Size: var(--Size-Display-Medium);
$Display-Line-height: var(--Line-height-Display-Medium);
$Display-Letter-spacing: 0px;
$Headline-Family: var(--Typeface-Font-family-1);
$Display-Weight: var(--Typeface-Weight-Bold);
$Headline-Font-Size: var(--Size-Headline-Medium);
$Headline-Line-height: var(--Line-height-Headline-Medium);
$Headline-Letter-spacing: 0px;
$Headline-Weight: var(--Typeface-Weight-Bold);
$Label-Family: var(--Typeface-Font-family-2);
$Label-Font-Size: var(--Size-Label-Medium);
$Label-Line-height: var(--Line-height-Label-Medium);
$Label-Letter-spacing: 0.5px;
$Label-Weight: var(--Typeface-Weight-Bold);
$Title-Family: var(--Typeface-Font-family-2);
$Body-Family: var(--Typeface-Font-family-2);
$Body-Font-Size: var(--Size-Body-Medium);
$Body-Line-height: var(--Line-height-Body-Medium);
$Body-Letter-spacing: 0.25px;
$Title-Font-Size: var(--Size-Title-Medium);
$Body-Weight: var(--Typeface-Weight-Regular);
$Title-Line-height: var(--Line-height-Title-Medium);
$Title-Letter-spacing: 0.15;
$Title-Weight: var(--Typeface-Weight-Medium);