/* Typography system - Small */
$Display-Family: var(--Typeface-Font-family-1);
$Display-Font-Size: var(--Size-Display-Small);
$Display-Line-height: var(--Line-height-Display-Small);
$Display-Letter-spacing: 0px;
$Headline-Family: var(--Typeface-Font-family-1);
$Display-Weight: var(--Typeface-Weight-Medium);
$Headline-Font-Size: var(--Size-Headline-Small);
$Headline-Line-height: var(--Line-height-Headline-Small);
$Headline-Letter-spacing: 0px;
$Headline-Weight: var(--Typeface-Weight-Medium);
$Label-Family: var(--Typeface-Font-family-2);
$Label-Font-Size: var(--Size-Label-Small);
$Label-Line-height: var(--Line-height-Label-Small);
$Label-Letter-spacing: 0.5px;
$Label-Weight: var(--Typeface-Weight-Medium);
$Title-Family: var(--Typeface-Font-family-2);
$Body-Family: var(--Typeface-Font-family-2);
$Body-Font-Size: var(--Size-Body-Small);
$Body-Line-height: var(--Line-height-Body-Small);
$Body-Letter-spacing: 0.4;
$Title-Font-Size: var(--Size-Title-Small);
$Body-Weight: var(--Typeface-Weight-Regular);
$Title-Line-height: var(--Line-height-Title-Small);
$Title-Letter-spacing: 0.1;
$Title-Weight: var(--Typeface-Weight-Medium);