%var-typography-system {
    --Display-Family: #{$Display-Family};
    --Display-Font-Size: #{$Display-Font-Size};
    --Display-Line-height: #{$Display-Line-height};
    --Display-Letter-spacing: #{$Display-Letter-spacing};
    --Display-Weight: #{$Display-Weight};
    --Headline-Family: #{$Headline-Family};
    --Headline-Font-Size: #{$Headline-Font-Size};
    --Headline-Line-height: #{$Headline-Line-height};
    --Headline-Letter-spacing: #{$Headline-Letter-spacing};
    --Headline-Weight: #{$Headline-Weight};
    --Label-Family: #{$Label-Family};
    --Label-Font-Size: #{$Label-Font-Size};
    --Label-Line-height: #{$Label-Line-height};
    --Label-Letter-spacing: #{$Label-Letter-spacing};
    --Label-Weight: #{$Label-Weight};
    --Body-Family: #{$Body-Family};
    --Body-Font-Size: #{$Body-Font-Size};
    --Body-Line-height: #{$Body-Line-height};
    --Body-Letter-spacing: #{$Body-Letter-spacing};
    --Body-Weight: #{$Body-Weight};
    --Title-Family: #{$Title-Family};
    --Title-Font-Size: #{$Title-Font-Size};
    --Title-Line-height: #{$Title-Line-height};
    --Title-Letter-spacing: #{$Title-Letter-spacing};
    --Title-Weight: #{$Title-Weight};
}