/* Chip size and spacing - SM */
.chip-sizeAndSpacing-sm {
    --Chip-Icon-size: 18px;
    --Chip-Icon-padding: 3px;
    --Chip-Text-only-horizontal-padding: 12px;
    --Chip-vertical-padding: 4px;
}

/* Chip size and spacing - MD */
.chip-sizeAndSpacing-md {
    --Chip-Icon-size: 18px;
    --Chip-Icon-padding: 3px;
    --Chip-Text-only-horizontal-padding: 12px;
    --Chip-vertical-padding: 4px;
}

/* Chip size and spacing - LG */
.chip-sizeAndSpacing-lg {
    --Chip-Icon-size: 20px;
    --Chip-Icon-padding: 2px;
    --Chip-Text-only-horizontal-padding: 12px;
    --Chip-vertical-padding: 4px;
}

/* Chip size and spacing - XL */
.chip-sizeAndSpacing-xl {
    --Chip-Icon-size: 20px;
    --Chip-Icon-padding: 2px;
    --Chip-Text-only-horizontal-padding: 12px;
    --Chip-vertical-padding: 4px;
}