/* ===========================================
   COLOR APPLICATION
   =========================================== */

.layoutLabel {
    color: var(--Content);
}

.selected .layoutLabel {
    color: var(--Content-Selected);
}

.layoutButtonWrapper {
    border: var(--Stroke-Unselected) solid var(--Content-Outline);
    background-color: var(--BG);
    color: var(--Content);
    box-shadow: var(--Shadow-Enabled);
}

.selected.layoutButtonWrapper {
    border: var(--Stroke-Selected) solid var(--Content-Outline-Selected);
    background-color: var(--BG-Selected);
    color: var(--Content-Selected);
    box-shadow: var(--Shadow-Enabled);
}

.stateLayer {
    background-color: var(--State-layer);
}

.selected .stateLayer {
    background-color: var(--State-layer-Selected);
}

.badge {
    background-color: var(--Content-Selected);
}

/* ===========================================
   LAYOUT & TYPOGRAPHY
   =========================================== */

.layoutLabel {
    min-height: var(--Icon-BASE-Icon-size, 24px);
    padding: 0 var(--Spacing-Spacing-XXS, 4px);
}

.layoutIcon {
    display: flex;
    height: var(--Icon-BASE-Icon-size, 24px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.layoutIcon * {
    width: auto;
    height: inherit;
    object-fit: contain;
}

.layoutButtonWrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: var(--Spacing-Spacing-XXXS, 4px) var(--Spacing-Spacing-XS, 12px);
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.layoutButtonWrapper * {
    transition: all 0.2s ease-in-out;
    z-index: inherit;
}

.stateLayer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

.badge {
    height: 4px;
    width: 4px;
    border-radius: 100%;
}

/* ===========================================
   INTERACTION STATES
   =========================================== */

/* Hover */
.layoutButtonWrapper:hover {
    box-shadow: var(--Shadow-Hovered);
    z-index: 1;
}

.layoutButtonWrapper:hover .stateLayer {
    opacity: var(--CM-state-layer-opacity-hovered);
}

/* Focus */

.layoutButtonWrapper:focus-visible {
    box-shadow: var(--Shadow-Focused);
    z-index: 1;
}

.layoutButtonWrapper:focus-visible .stateLayer {
    opacity: var(--CM-state-layer-opacity-focused);
}

/* Active */

.layoutButtonWrapper:active {
    box-shadow: var(--Shadow-Pressed);
    z-index: 1;
}

.layoutButtonWrapper[dragged] {
    box-shadow: var(--Shadow-Dragged);
    z-index: 2;
}

.layoutButtonWrapper:active .stateLayer {
    opacity: var(--CM-state-layer-opacity-pressed-and-dragged);
}

.disabled {
    filter: saturate(0);
    box-shadow: var(--Shadow-Disabled);
    opacity: var(--Appearance-Disabled);
    pointer-events: none;
}