/* ===========================================
   SCALE FACTORS
   =========================================== */

.scaleFactor0_75 {
    --scale-factor: 0.75;
}

.scaleFactor1 {
    --scale-factor: 1;
}

.scaleFactor1_5 {
    --scale-factor: 1.5;
}

.scaleFactor2 {
    --scale-factor: 2;
}


/* ===========================================
   COLOR APPLICATION
   =========================================== */

.layoutLabel {
    color: var(--Content);
}

.selected .layoutLabel {
    color: var(--Content-Selected);
}

.layoutButtonWrapper {
    border: var(--Stroke-Unselected) solid var(--Content-Outline);
    background-color: var(--BG);
    color: var(--Content);
    box-shadow: var(--Shadow-Enabled);
}

.stateLayer {
    background-color: var(--State-layer);
}

/* ===========================================
   LAYOUT & TYPOGRAPHY
   =========================================== */

.layoutLabel {
    font-family: var(--Title-Family);
    font-size: calc(var(--Title-Font-Size, 16px) * var(--scale-factor, 1));
    font-weight: 500;
    line-height: calc(var(--Title-Line-height, 20px) * var(--scale-factor, 1));
    letter-spacing: calc(var(--Title-Letter-spacing, 0.15px) * var(--scale-factor, 1));
    min-height: var(--Icon-BASE-Icon-size, 24px);
}

.layoutIcon {
    display: flex;
    height: calc(var(--Icon-BASE-Icon-size, 24px) * var(--scale-factor, 1));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.layoutIcon * {
    width: auto;
    height: inherit;
    object-fit: contain;
}

.layoutButtonWrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: calc(var(--Spacing-Spacing-XXS, 8px) * var(--scale-factor, 1)) calc(var(--Spacing-Spacing-XS, 12px) * var(--scale-factor, 1));
    justify-content: center;
    align-items: center;
    gap: calc(var(--Spacing-Spacing-XS, 12px) * var(--scale-factor, 1));
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.layoutButtonWrapper * {
    transition: all 0.2s ease-in-out;
    z-index: inherit;
}

.stateLayer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}


/* ===========================================
   INTERACTION STATES
   =========================================== */

/* Hover */
.layoutButtonWrapper:hover {
    box-shadow: var(--Shadow-Hovered);
    z-index: 1;
}

.layoutButtonWrapper:hover .stateLayer {
    opacity: var(--CM-state-layer-opacity-hovered);
}

/* Focus */

.layoutButtonWrapper:focus-visible {
    box-shadow: var(--Shadow-Focused);
    z-index: 1;
}

.layoutButtonWrapper:focus-visible .stateLayer {
    opacity: var(--CM-state-layer-opacity-focused);
}

/* Active */

.layoutButtonWrapper:active {
    box-shadow: var(--Shadow-Pressed);
    z-index: 1;
}

.layoutButtonWrapper[dragged] {
    box-shadow: var(--Shadow-Dragged);
    z-index: 2;
}

.layoutButtonWrapper:active .stateLayer {
    opacity: var(--CM-state-layer-opacity-pressed-and-dragged);
}

.disabled {
    filter: saturate(0);
    box-shadow: var(--Shadow-Disabled);
    opacity: var(--Appearance-Disabled);
    pointer-events: none;
}

/* ===========================================
   VARIANT MODES
   =========================================== */

button[class*="variantModeIcon"]>span:not([class^="leadingIcon"]),
button[class*="variantModeIconRatio1W"]>span:not([class^="leadingIcon"]),
button[class*="variantModeIconRatio1H"]>span:not([class^="leadingIcon"]) {
    display: none !important;
}

.variantModeIcon {
    padding: var(--Spacing-Spacing-XXS, 8px) !important;
}

.variantModeIconRatio1W {
    aspect-ratio: 1 / 1;
    width: auto;
    height: auto;
}

.variantModeIconRatio1H span * {
    width: calc(var(--Icon-BASE-Icon-size, 24px) * var(--scale-factor, 1));
}

[class*='variantModeIconRatio1W'] span,
[class*='variantModeIconRatio1W'] span * {
    width: 100% !important;
    height: 100% !important;
}

.variantModeExtreme:hover .layoutLabel {
    font-family: var(--Headline-Family, Epilogue);
    font-size: calc(var(--Headline-Font-Size, 20px) * var(--scale-factor, 1));
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--Headline-Line-height, 24px) * var(--scale-factor, 1));
    display: flex;
    padding-top: 4%;
    letter-spacing: calc(var(--Headline-Letter-spacing, 0px) * var(--scale-factor, 1));
}

.variantModeExtreme:hover .layoutIcon {
    height: calc(var(--Icon-BASE-Icon-size, 24px) * var(--scale-factor, 1) * 2);
}