/* ===========================================
   COLOR APPLICATION
   =========================================== */

.layoutLabel {
    color: var(--Content);
}

.selected .layoutLabel {
    color: var(--Content-Selected);
}

.layoutButtonWrapper {
    border: var(--Stroke-Unselected) solid var(--Content-Outline);
    background-color: var(--BG);
    color: var(--Content);
    box-shadow: var(--shadow-3);
}

.stateLayer {
    background-color: var(--State-layer);
}

/* ===========================================
   LAYOUT & TYPOGRAPHY
   =========================================== */

.layoutIcon {
    display: flex;
    height: var(--Icon-BASE-Icon-size, 24px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.layoutIcon * {
    width: auto;
    height: inherit;
    object-fit: contain;
}

.layoutButtonWrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: var(--Spacing-Spacing-XXS, 8px) var(--Spacing-Spacing-S, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-Spacing-XS, 12px);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.layoutButtonWrapper * {
    transition: all 0.2s ease-in-out;
    z-index: inherit;
}

.stateLayer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}


/* ===========================================
   INTERACTION STATES
   =========================================== */

/* Hover */
.layoutButtonWrapper:hover {
    box-shadow: var(--shadow-4);
    z-index: 1;
}

.layoutButtonWrapper:hover .stateLayer {
    opacity: var(--CM-state-layer-opacity-hovered);
}

/* Focus */

.layoutButtonWrapper:focus-visible {
    box-shadow: var(--shadow-3);
    z-index: 1;
}

.layoutButtonWrapper:focus-visible .stateLayer {
    opacity: var(--CM-state-layer-opacity-focused);
}

/* Active */

.layoutButtonWrapper:active {
    box-shadow: var(--shadow-3);
    z-index: 1;
}

.layoutButtonWrapper[dragged] {
    box-shadow: var(--shadow-3);
    z-index: 2;
}

.layoutButtonWrapper:active .stateLayer {
    opacity: var(--CM-state-layer-opacity-pressed-and-dragged);
}

.disabled {
    filter: saturate(0);
    box-shadow: var(--shadow-3);
    opacity: var(--Appearance-Disabled);
    pointer-events: none;
}

/* ===========================================
   VARIANT MODES
   =========================================== */

.layoutButtonWrapper.variantModesFAB {
    padding: var(--Spacing-Spacing-XXS);
}

.layoutButtonWrapper.variantModemFAB {
    padding: var(--Spacing-Spacing-S);
}

.layoutButtonWrapper.variantModeFAB {
    padding: var(--Spacing-Spacing-M);
}