/* COLOR MODE */
.colorModePrimary {
    --color1: var(--Schemes-On-Primary-Container, #0E2000);
    --color2: var(--Schemes-Primary-Container, #A6FF47);
    --color3: var(--Schemes-Primary);
}

.colorModeSecondary {
    --color1: var(--Schemes-On-Secondary-Container, #FFFBFF);
    --color2: var(--Schemes-Secondary-Container, #D24200);
    --color3: var(--Schemes-Secondary);
}

.colorModeTertiary {
    --color1: var(--Schemes-On-Tertiary-Container, #7A93C0);
    --color2: var(--Schemes-Tertiary-Container, #0D2B52);
    --color3: var(--Schemes-Tertiary);
}

/* END OF COLOR MODE */


/* STYLE MODE */
/* không áp dụng cho đối tượng state layer */

.styleModeText {
    background-color: transparent !important;
    border: none !important;
    color: var(--color3) !important;
}

.styleModeText:hover {
    box-shadow: none !important;
}

.styleModeOutlined {
    background-color: transparent !important;
    border-width: 0;
    border-style: solid;
    border-right-width: 1px;
    color: var(--color3) !important;
    border-color: var(--Schemes-Outline);
}

.buttonWrapper .styleModeOutlined:last-child {
    border-right-width: 0;
}

.buttonWrapper:has(> .styleModeOutlined) {
    border-width: var(--Stroke-Stroke-1, 0px) !important;
    border-style: solid;
    border-color: var(--Schemes-Outline);
}

.styleModeOutlined:hover {
    box-shadow: none !important;
}

.styleModeFilled {
    border: none !important;
    color: var(--color1) !important;
    background-color: var(--color2) !important;
}

.styleModeElevated {
    border: none !important;
    box-shadow: var(--shadow-1) !important;
    background-color: var(--Schemes-Surface-Container-Low, #F4F3F2) !important;
    color: var(--color3) !important;
}

.styleModeElevated:hover {
    box-shadow: var(--shadow-3) !important;
}

.styleModeElevated:active {
    box-shadow: var(--shadow-1) !important;
}

/* END OF STYLE MODE */

/* LAYOUT */

.buttonWrapper {
    width: fit-content;
    overflow: hidden;
    height: fit-content;
}

.layoutLabel {
    /* Title */
    font-family: var(--Title-Family);
    font-size: var(--Title-Font-Size, 16px);
    font-weight: 500;
    line-height: var(--Title-Line-height, 20px);
    /* 125% */
    letter-spacing: var(--Title-Letter-spacing, 0.15px);
    min-height: var(--Icon-BASE-Icon-size, 24px);
}

.layoutIcon {
    display: flex;
    height: var(--Icon-BASE-Icon-size, 24px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.layoutIcon * {
    width: auto;
    height: inherit;
    object-fit: contain;
}

.itemWrapper {
    display: flex;
    align-items: center; /* Make all items stretch to the same height */
    height: fit-content;
    width: fit-content;
    padding: var(--Button-padding-Btn-Padding-V-0, 8px) var(--Button-padding-Btn-Padding-H-0, 12px);
    justify-content: center;
    gap: var(--Gap-Gap-m2, 4px);
    position: relative;
    cursor: pointer;
}

.itemWrapper,
.itemWrapper * {
    transition: all 0.2s ease-in-out;
}

.itemWrapper:hover {
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.itemWrapper:focus-visible {
    z-index: 1;
}

.stateLayer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: var(--color3);
}

.stateLayer:hover {
    opacity: var(--CM-state-layer-opacity-hover)
}

.stateLayer:active {
    opacity: var(--CM-state-layer-opacity-pressed-and-focused)
}

.stateLayer:focus-visible {
    opacity: var(--CM-state-layer-opacity-dragged)
}

.disabled {
    filter: saturate(0);
    opacity: 0.5;
    /* diable hover */
    pointer-events: none;
}

/* END OF LAYOUT */