/* Size and spacing - SM */
$PAGE-Prop-Page-width: 800px;
$PAGE-Prop-Page-Content-max-width: 800px;
$PAGE-Prop-First-panel-without-left-nav: 0px;
$PAGE-Prop-First-panel-with-left-nav: 0px;
$PAGE-Prop-Left-nav-width: 0px;
$PAGE-Prop-Body-margin: 8px;
$Gap-BASE-Gap: 16px;
$Padding-and-Margin-PM-none: 0px;

$Icon-BASE-Icon-size: 24px;
$Icon-BASE-Icon-size-dense: 20px;
$Icon-FAB-Icon-size: 36px;
$Icon-Thumbnail-size-1: 36px;
$Icon-Thumbnail-size-2: 40px;
$Icon-Thumbnail-size-3: 56px;
$Button-padding-Btn-Padding-H-m2: 8px;
$Button-padding-Btn-Padding-H-m1: 10px;
$Button-padding-Btn-Padding-H-0: 12px;
$Button-padding-Btn-Padding-H-1: 16px;
$Button-padding-Btn-Padding-V-m1: 4px;
$Button-padding-Btn-Padding-V-0: 8px;
$Button-padding-Btn-Padding-V-2: 8px;
$Button-padding-Btn-Padding-V-2: 8px;
$Button-padding-Btn-Padding-V-1: 10px;
$Button-padding-Btn-Padding-V-2: 12px;
$Button-padding-FAB-Padding: 18px;
$Gap-Gap-none: 0px;
$Gap-Gap-m2: 4px;
$Gap-Gap-m1: 8px;
$Border-radius-BASE-Border-radius: 16px;
$Gap-Gap-0: $Gap-BASE-Gap;
$Gap-Gap-1: 24px;
$Gap-Gap-2: 32px;
$Border-radius-BR-none: 0px;
$Border-radius-BR-m1: 8px;
$Border-radius-BR-1: 24px;
$Border-radius-BR-2: 32px;
$Border-radius-BR-3: 48px;
$Border-radius-BR-Rounded: 1000px;
$Button-padding-Btn-Padding-H-2: $Icon-BASE-Icon-size;
$Border-radius-BR-0: $Border-radius-BASE-Border-radius;
$Padding-and-Margin-PM-m2: $Gap-Gap-m2;
$Padding-and-Margin-PM-m1: $Gap-Gap-m1;
$Padding-and-Margin-PM-0: $Gap-Gap-0;
$Padding-and-Margin-PM-1: $Gap-Gap-1;
$Padding-and-Margin-PM-2: $Gap-Gap-2;