%var-size-and-spacing {
    --PAGE-Prop-Page-width:#{$PAGE-Prop-Page-width};
    --PAGE-Prop-Page-Content-max-width:#{$PAGE-Prop-Page-Content-max-width};
    --PAGE-Prop-First-panel-without-left-nav:#{$PAGE-Prop-First-panel-without-left-nav};
    --PAGE-Prop-First-panel-with-left-nav:#{$PAGE-Prop-First-panel-with-left-nav};
    --PAGE-Prop-Left-nav-width:#{$PAGE-Prop-Left-nav-width};
    --PAGE-Prop-Body-margin:#{$PAGE-Prop-Body-margin};
    --Gap-BASE-Gap:#{$Gap-BASE-Gap};
    --Padding-and-Margin-PM-none:#{$Padding-and-Margin-PM-none};
    --Padding-and-Margin-PM-m2:#{$Padding-and-Margin-PM-m2};
    --Padding-and-Margin-PM-m1:#{$Padding-and-Margin-PM-m1};
    --Padding-and-Margin-PM-0:#{$Padding-and-Margin-PM-0};
    --Padding-and-Margin-PM-1:#{$Padding-and-Margin-PM-1};
    --Padding-and-Margin-PM-2:#{$Padding-and-Margin-PM-2};
    --Icon-BASE-Icon-size:#{$Icon-BASE-Icon-size};
    --Icon-BASE-Icon-size-dense:#{$Icon-BASE-Icon-size-dense};
    --Icon-FAB-Icon-size:#{$Icon-FAB-Icon-size};
    --Icon-Thumbnail-size-1:#{$Icon-Thumbnail-size-1};
    --Icon-Thumbnail-size-2:#{$Icon-Thumbnail-size-2};
    --Icon-Thumbnail-size-3:#{$Icon-Thumbnail-size-3};
    --Button-padding-Btn-Padding-H-m2:#{$Button-padding-Btn-Padding-H-m2};
    --Button-padding-Btn-Padding-H-m1:#{$Button-padding-Btn-Padding-H-m1};
    --Button-padding-Btn-Padding-H-0:#{$Button-padding-Btn-Padding-H-0};
    --Button-padding-Btn-Padding-H-1:#{$Button-padding-Btn-Padding-H-1};
    --Button-padding-Btn-Padding-H-2:#{$Button-padding-Btn-Padding-H-2};
    --Button-padding-Btn-Padding-V-m1:#{$Button-padding-Btn-Padding-V-m1};
    --Button-padding-Btn-Padding-V-0:#{$Button-padding-Btn-Padding-V-0};
    --Button-padding-Btn-Padding-V-2:#{$Button-padding-Btn-Padding-V-2};
    --Button-padding-Btn-Padding-V-2:#{$Button-padding-Btn-Padding-V-2};
    --Button-padding-Btn-Padding-V-1:#{$Button-padding-Btn-Padding-V-1};
    --Button-padding-Btn-Padding-V-2:#{$Button-padding-Btn-Padding-V-2};
    --Button-padding-FAB-Padding:#{$Button-padding-FAB-Padding};
    --Gap-Gap-none:#{$Gap-Gap-none};
    --Gap-Gap-m2:#{$Gap-Gap-m2};
    --Gap-Gap-m1:#{$Gap-Gap-m1};
    --Border-radius-BASE-Border-radius:#{$Border-radius-BASE-Border-radius};
    --Gap-Gap-0:#{$Gap-Gap-0};
    --Gap-Gap-1:#{$Gap-Gap-1};
    --Gap-Gap-2:#{$Gap-Gap-2};
    --Border-radius-BR-none:#{$Border-radius-BR-none};
    --Border-radius-BR-m1:#{$Border-radius-BR-m1};
    --Border-radius-BR-0:#{$Border-radius-BR-0};
    --Border-radius-BR-1:#{$Border-radius-BR-1};
    --Border-radius-BR-2:#{$Border-radius-BR-2};
    --Border-radius-BR-3:#{$Border-radius-BR-3};
    --Border-radius-BR-Rounded:#{$Border-radius-BR-Rounded};
}