/* Size and spacing - Value */
:root {
  --Spacing-Spacing-Base: 24px;
  --Icon-Icon-Base: 24px;
  --Icon-Icon-Dense: 20px;
  --Icon-FAB-Icon: 36px;
  --Icon-Thumb-M: 40px;
  --Icon-Thumb-L: 48px;
  --Icon-Thumb-XL: 100px;
  --Spacing-Spacing-0: 0px;
  --Spacing-Spacing-XXXS: 4px;
  --Spacing-Spacing-XXS: 8px;
  --Spacing-Spacing-XS: 12px;
  --Border-radius-BR-Base: 16px;
  --Spacing-Spacing-S: 16px;
  --Spacing-Spacing-M: var(--Spacing-Spacing-Base);
  --Spacing-Spacing-L: 36px;
  --Spacing-Spacing-XL: 48px;
  --Spacing-Spacing-XXL: 56px;
  --Border-radius-BR-0: 0px;
  --Border-radius-BR-S: 12px;
  --Border-radius-BR-M: var(--Border-radius-BR-Base);
  --Border-radius-BR-L: 36px;
  --Border-radius-BR-XL: 48px;
  --Border-radius-BR-XXL: 56px;
  --Border-radius-BR-Rounded: 1000px;
}
/* heheheve */