:global(body.size-and-spacing-sm) {
    --gridNumberTrue: 1;
    --gridNumberFalse: 1;
}

:global(body.size-and-spacing-md) {
    --gridNumberTrue: 2;
    --gridNumberFalse: 2;
}

:global(body.size-and-spacing-lg),
:global(body.size-and-spacing-xl) {
    --gridNumberTrue: 3;
    --gridNumberFalse: 3;
}

.inspirationContainer {
    /* display: grid; */
    gap: var(--Spacing-Spacing-M, 24px);
    padding: var(--Spacing-Spacing-M, 24px) var(--Spacing-Spacing-S, 16px);
}

.inspirationContainer.gridView-true {
    display: grid;
    grid-template-columns: repeat(var(--gridNumberTrue), 1fr);
}

.inspirationContainer.gridView-false {
    /* grid-template-columns: repeat(var(--gridNumberFalse), 1fr); */
    column-count: var(--gridNumberFalse);
}

.inspirationContainer.gridView-false>div>div {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    padding-bottom: var(--Spacing-Spacing-M, 24px);
}

.titleSectionStyle {
    gap: var(--Spacing-Spacing-XS, 12px);
}

.controlsStyle {
    gap: var(--Spacing-Spacing-S, 16px);
}